
.flex-container{
    display: flex;
    /* width: 900px; */
    /* width: 90px; */
    width: 50%;
    padding: 20px;
    background-color: beige;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.flex-container div{
    background-color: burlywood;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
}

.flex-container-two{
    display: flex;
    /* width: 900px; */
    /* width: 90px; */
    /* width: 55%; */
    width: 300px;
    padding: 20px;
    background-color: beige;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    margin: 0 auto;
    height: 400px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 10px; /* el 1ro es para columna y el 2do es para filas */
}
.flex-container-two div{
    background-color: burlywood;
    /* width: 150px; */
    /* flex-grow: 1;
    flex-shrink: 1; */
    flex-basis: 100px;
}

.flex-container-two div.flex-item{
    /* flex-grow: 2; */
    /* flex-shrink: 3; */
}